@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Home Page";
}
@{ 
    var user = User.Identity.IsAuthenticated;
}
<div class="jumbotron">
    <h1>Job Portal</h1>
    <p class="lead">A place for all your employment needs. Connecting workers and companies and streamlining the process.</p>
    <p>
        @if (user)
        {
            @Html.ActionLink("Start Now>>", "Index", "Jobs", null, new { @class = "btn btn-primary btn-lg" })
        }
        else
        {
            @Html.ActionLink("Start Now>>", "Login", "Account", null, new { @class = "btn btn-primary btn-lg" })
        }
    </p>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Create Job Posts</h2>
        <p>
            Create a job opening post with the nessecary details for other to apply and manage the list of open jobs.
        </p>
        <p><p>
    @if (user)
    {
        @Html.ActionLink("Start Now>>", "Create", "Jobs", null, new { @class = "btn btn btn-default" })
    }
    else
    {
        @Html.ActionLink("Start Now>>", "Login", "Account", null, new { @class = "btn btn btn-default" })
    }
</p></p>
    </div>
    <div class="col-md-3">
        <h2>Update Your Qualifications</h2>
        <p>
            Update your qualifications for a better chance at being hired over the competition.
        </p>
        <p><p>
    @if (user)
    {
        @Html.ActionLink("Start Now>>", "Edit", "Manage", null, new { @class = "btn btn btn-default" })
    }
    else
    {
        @Html.ActionLink("Start Now>>", "Login", "Account", null, new { @class = "btn btn btn-default" })
    }
</p></p>
    </div>
    <div class="col-md-3">
        <h2>Apply For Jobs</h2>
        <p>
            Apply for the jobs you want and check for the requirements and check on the status of your applicaiton.
        </p>
        <p><p>
    @if (user)
    {
        @Html.ActionLink("Start Now>>", "Index", "Jobs", null, new { @class = "btn btn btn-default" })
    }
    else
    {
        @Html.ActionLink("Start Now>>", "Login", "Account", null, new { @class = "btn btn btn-default" })
    }
</p></p>
    </div>
    <div class="col-md-3">
        <h2>Screen Out Applicants</h2>
        <p>
            Choose from a list of applicants, view qualifications and  Accept or Reject.
        </p>
        <p><p>
    @if (user)
    {
        @Html.ActionLink("Start Now>>", "MyJobs", "Jobs", null, new { @class = "btn btn btn-default" })
    }
    else
    {
        @Html.ActionLink("Start Now>>", "Login", "Account", null, new { @class = "btn btn btn-default" })
    }
</p></p>
    </div>
</div>