@using JobPortal2.Models
@model JobPortal2.Models.Job

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Position)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Position)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Company)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Desc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Desc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Salary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Salary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Experience)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Experience)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.degree)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.degree)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>

    </dl>
</div>
<p>
    @*@Html.ActionLink("Apply","Apply")*@
    @{ 
                    List<Applicants> applicants = ViewBag.applicants;
                    if ( !applicants.Any(row=>row.jobId.JobID == Model.JobID))
                    {
                        using (Html.BeginForm("Apply", "Jobs", new { id = Model.JobID }, FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-horizontal">

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Apply" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            }
        }
            else
        {
                <h3>Applied</h3>
            }
    }
</p>
